In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('Dice_US_jobs.csv',encoding="ISO-8859-1")

In [3]:
df.head()

,country_code,date_added,job_board,job_description,job_title,job_type,location,organization,page_url,phone_number,salary,sector
0,US,11/11/2016,https://www.dice.com,"Minimum Required Skills:EDI, TrustedLink, AS2,...",EDI Analyst,"Full Time, Full-time, Employee","Stamford, CT",CyberCoders,https://www.dice.com/jobs/detail/EDI-Analyst-%...,NaN,NaN,"EDI, TrustedLink, AS2, VAN - EDI, TrustedLink,..."
1,US,11/11/2016,https://www.dice.com,"InformaticaåÊ/ ETL DeveloperSt, Petersburg, FL...",Informatica ETL Developer,"Full Time, Full Time","St Petersburg, FL",TrustMinds,https://www.dice.com/jobs/detail/Informatica-E...,NaN,NaN,ETL Informatica B2B Data Exchange Netezza Orac...
2,US,11/11/2016,https://www.dice.com,pmayekar@kanandcorp.com 512-697-8897Sunnyvale ...,Angular developer,"Full Time, Contract Corp-To-Corp, Contract Ind...","Sunnyvale, CA",K Anand Corporation,https://www.dice.com/jobs/detail/Angular-devel...,NaN,NaN,Angular
3,US,11/12/2016,https://www.dice.com,This nationally recognized Microsoft Gold Part...,"Microsoft Dynamics AX, Project Manager",Full Time,"Toronto, Canada, ON",Nigel Frank International,https://www.dice.com/jobs/detail/Microsoft-Dyn...,NaN,NaN,"Microsoft Dynamics AX, Project Manager - Toron..."
4,US,11/11/2016,https://www.dice.com,"Minimum Required Skills:C#, ASP.NET, SQL, Java...",Software Developer,"Full Time, Full-time, Employee","Stamford, CT",CyberCoders,https://www.dice.com/jobs/detail/Software-Deve...,NaN,NaN,"C#, ASP.NET, SQL, JavaScript, MVC - C#, ASP.NE..."

In [6]:
# Clean the job titles
full_time = 0
contract = 0

# df['job_type'].apply(lambda jt: str(jt).split(',')[0])
for job_type in df['job_type']:
    
#     print(job)
    try:
        job = job_type.lower()
        if 'full' in job:
            full_time += 1

        if 'contract' in job:
            contract +=1
    except:
        pass


print(full_time)
print(contract)

13810
8155

In [66]:
print(contract)

0

In [62]:
len(unique_job_type)

1

In [49]:
len(unique_job_length)

309

In [27]:
company = df.groupby('organization')
org = company.count()['job_type'].sort_values(ascending=False)[:25].to_dict()

In [28]:

org['Nigel Frank International Inc'] = org['Nigel Frank International'] + org['Nigel Frank International Inc.']

In [30]:
org.pop('Nigel Frank International')
org.pop('Nigel Frank International Inc.')

104

In [31]:
org

{'Amazon': 65,
 'Bebee Affinity Social Network': 109,
 'Booz Allen Hamilton': 92,
 'Ciber': 101,
 'Cognizant Technology Solutions': 70,
 'CyberCoders': 6296,
 'Dell': 80,
 'Deloitte': 73,
 'Experis': 124,
 'Genesis10': 60,
 'Kforce Inc.': 736,
 'Mason Frank International': 74,
 'Matrix Resources': 136,
 'Modis': 67,
 'NORTHROP GRUMMAN': 275,
 'Net2Source Inc.': 71,
 'Nigel Frank International Inc': 173,
 'Princeton Information Ltd': 66,
 'Randstad Technologies': 268,
 'Robert Half Technology': 838,
 'Somasoft Solutions. Inc.': 60,
 'TEKsystems': 1031,
 'The Judge Group': 157,
 'UnitedHealth Group': 102}